@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:ital@1&display=swap');

*{box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #24252A;
}

*{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex;
  align-items: center;
  padding: 20px 10%;
  width: 100%;
  height: auto;
}

.logo{
  padding: 0px 20px;
  order: 0;
}

.nav {
  order: 1;
}

.cta{
  order: 3;
  justify-content: flex;
}
.nav_links{
  list-style: none;
  padding: 0px 50px;
  justify-content: flex;
  align-items:center;
  display: flex;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_links LI:nth-child(1){
  padding: 0 20px 0 0 ;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9
}

button {
  margin-left: 80px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
  justify-content: flex;
  display: flex;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.footr{
  display: block; 
  align-items:center;
  list-style: none;
  padding: 400px 75px;
  justify-content: flex;
  align-items:center;
  display: flex;
  margin: 50px;
}
.art1{
  display: flex; 
  align-items: flex;
  justify-content: flex;
  display: flex;
}

.introA{
  padding: 600px 0px;
}


.Eng{
  width: 25px; 
  height: 25px;
  order: 2;
}

.Ru{
  width: 25px; 
  height: 25px;
  order: 2;
}

.fit{
  font-weight: 400;
  font-size: 40px;
  padding: 15px 45%;
}
#fit{
  font-weight: 400;
  font-size: 30px;
}


/*This is for the animation in the banana page */

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #222;
  font-family: "Montserrat", sans-serif;
  height: 60vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 10vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #767676;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
