.cent {
    text-align: center;
}

#red {
    color: red;
}

.yellbk{
    background-color: yellow;
}

#blue{
    color: blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }